<!-- Start Header Area -->
<header class="default-header">
	<nav class="navbar navbar-expand-lg  navbar-light">
		<div class="container">
			<a class="navbar-brand" href="/index.html">
				<img src="/img/top_logo.png" alt="" max-width="200">
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="text-white lnr lnr-menu"></span>
			</button>

			<div class="collapse navbar-collapse justify-content-end align-items-center" id="navbarSupportedContent">
				<ul class="navbar-nav">
					<li><a href="/#home">Home</a></li>

					<li class="dropdown">
						<a class="dropdown-toggle" href="/#experience" id="navbardrop" data-toggle="dropdown">
							Experiences
						</a>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="/work5.html">PulseLife</a>
							<a class="dropdown-item" href="/work4.html">Younited</a>
							<a class="dropdown-item" href="/work3.html">Mydral</a>
							<a class="dropdown-item" href="/work2.html">IBM</a>
							<a class="dropdown-item" href="/work1.html">CNP</a>
						</div>
					</li>

					<li class="dropdown">
						<a class="dropdown-toggle" href="/#education" id="navbardrop" data-toggle="dropdown">
							Educations
						</a>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="/education1.html">IIT</a>
							<a class="dropdown-item" href="/education2.html">ESIEA</a>
							<a class="dropdown-item" href="/education3.html">ARU</a>
						</div>
					</li>

					<li class="dropdown">
						<a class="dropdown-toggle" href="/#project" id="navbardrop" data-toggle="dropdown">
							Open Data
						</a>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="/project1.html">Blue Gold</a>
							<a class="dropdown-item" href="/project2.html">Free Press</a>
							<a class="dropdown-item" href="/project3.html">Drugs Usages</a>
							<a class="dropdown-item" href="/project4.html">KickStarter</a>
							<a class="dropdown-item" href="/project5.html">Green Cities</a>
							<a class="dropdown-item" href="/project6.html">SNCF late trains</a>
						</div>
					</li>

					<li><a href="/#about">About</a></li>

				</ul>
			</div>
		</div>
	</nav>
</header>
<!-- End Header Area -->
