---
layout: work-layout.njk
title: Maxime LAINE - PulseLife
description: Lead Data Analyst at PulseLife
company: PulseLife
logo: img/logo_big_pulselife.png
position: Lead Data Analyst
period: September 2022 - Present
stackImages:
  - title: Stack Technique Data for PulseLife
    image: img/stack_pulselife.png
    width: 800
  - title: Scalable Architecture Data
    image: img/stack_bipper.png
    width: 800
description_text: Creation of the PulseLife Data Analytics Team
descriptionLogo: img/logo_pulselife.png
realizations:
  - Implementation and orchestration of the Analytics roadmap according to business needs (product, Marketing, Search, C levels)
  - Animation of analytics workshop with the C levels
  - Implementation of the BI and delivery stack Dashboarding, Data quality monitoring, Ad Hoc descriptive studies
  - Benchmark and monitor new developments in cloud providers, BI platforms and data governance tools that can contribute to the scalability and performance of the Data architecture
  - Recruitment and supervision of a Data Analyst intern
stacksCategories:
  - category: Analytics
    items:
      - Looker Studio / Metabase
      - DBT / Airflow
      - SQL
      - Python / Pandas - Plotly
      - Big Query
permalink: /work5.html
---
