---
layout: work-layout.njk
title: Maxime LAINE - IBM GBS
description: Junior Analytics Consultant internship at IBM GBS
company: IBM GBS
logo: img/logo_big_IBM.png
position: Junior Analytics Consultant (Intern)
period: January 2015 - July 2015
image: img/Work_Page_IBM.png
project: Migration and Compression of reports and universe from SAP Business Object to IBM Cognos
realizations:
  - Collaborated globally with teams in Europe and India, total of 30 people
  - Analyzed and determined the complexity of the migration perimeter
  - Developed tools and program to automate the creation of the deliverable
  - Coordinated meetings with the client and recommended optimization
  - Initiated and completed integration test given by the client
stacks:
  - SQL
  - SAP Business Intelligence
  - IBM Cognos
  - Oracle
  - DB2
  - Batch
  - Excel VBA
permalink: /work2.html
---
