---
layout: work-layout.njk
title: Maxime LAINE - CNP Assurances
description: Business Intelligence Developer internship at CNP Assurances
company: CNP Assurances
logo: img/logo_big_CNP.png
position: Business Intelligence Developer (Intern)
period: April 2014 - August 2014
image: img/Work_Page_CNP.png
project: Creation and improvement of SAP Business Intelligence (Business Object) frameworks and reports
realizations:
  - Developed accounting's frameworks and initiated reports with the Business Object platform
  - Coordinated meeting with internal clients (accountants) for specifications and updates
  - Conducted unit & integration test.
stacks:
  - SQL
  - Oracle Database
  - SAP Business Intelligence
  - Tableau Software
  - SAS Visual Analytics
permalink: /work1.html
---
