---
layout: work-layout.njk
title: Maxime LAINE - Younited Credit
description: Senior Data Analyst at Younited Credit
company: Younited Credit
logo: img/logo_big_younited.png
position: Senior Data Analyst
period: November 2019 - August 2022
stackImages:
  - title: Data Architecture
    image: img/Work_Page_Younited.png
    width: 800
description_text: Creation of Data Analyst Team
descriptionLogo: img/logo_younited.png
realizations:
  - Interacted with cross-functional teams (Growth, BUs, Risk, Marketing, Product, Data Sciences)
  - Understood business and provided new axis analysis
  - Implemented a data architecture; Back End dbt + airflow, Dataviz Power BI; ad-hoc Analysis Python - Pandas + Plotly
  - Developed the data analyst team from 2 to 4 people with various expertise
  - Designed the Data Analyst Architecture (Tools selections and implementation)
stacks:
  - Power BI
  - DBT / Airflow
  - SQL
  - Python / Pandas - Plotly
  - Big Query
permalink: /work4.html
---
