---
layout: work-layout.njk
title: Maxime LAINE - Mydral
description: Data Visualization Analyst & Consultant at Mydral
company: Mydral
logo: img/logo_big_mydral.png
position: Data Visualization Analyst & Consultant
period: September 2016 - October 2019
image: img/Work_Page_Mydral.png
realizations:
  - Collected business needs and proposed new business analysis axis
  - Simplified the monitoring of the server
  - Prepared data in SQL on Netezza and Oracle
  - Created Dashboard for different business units
  - Implemented and maintained Tableau Server
  - Built BI infrastructure for Samsung France
  - Mentored the Mydral team
  - Prepared data with Alteryx
  - Animated Workshop for Marketing and Finance
  - Trained End users to Tableau (France & Europe)
stacksCategories:
  - category: Analytics
    items:
      - SQL
      - Tableau (Certifications Desktop & Server)
      - Alteryx
  - category: Database
    items:
      - Oracle
      - DB2
      - Netezza
      - Vertica
      - SQL Developer
permalink: /work3.html
---
